.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 16rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}