.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 16rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.nav-link a {
    color: #d4d4d4;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover{
    font-size: 18px;  
    font-weight: 600;  
    padding: 1rem;
    border-radius: 50px;
    background: linear-gradient(180deg, #B2217A 0.36%, #8634C6 102.6%);
}